<div class="d-flex justify-content-between pb-2">
    <div class="pt-3">
        <h2>Remitos {{byCliente == true ? "del cliente N°"+" "+numeroCliente : ""}}</h2>
    </div>
    <div class="pb-3" *ngIf="!byCliente">
        <label>Generar remitos</label>
        <div class="input-group col-3">
            <input class="form-control" 
                    placeholder="Fecha de proceso"
                    name="fechaProcesoDate" 
                    [(ngModel)]="fechaProcesoDate" 
                    ngbDatepicker 
                    #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-primary calendar" 
                        (click)="d.toggle()"
                        type="button">
                            <i class="fa fa-calendar"></i>
                </button>
            </div>
            <a (click)="generarRemitos()" class="btn btn-primary float-right ml-1">
                Generar
            </a>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMessage">
    <i class="fas fa-check-circle pe-2"></i>
    {{ alertMessage }}
    <button type="button" (click)="closeAlert()" 
        class="btn-close">
    </button>
</div>

<br *ngIf="showMessage" />

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-center">Remito</th>
                <th class="text-center">Fecha de armado</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Domicilio</th>
                <th class="text-center">Entregado</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody *ngIf="!byCliente">
            <tr *ngFor="let remito of resultsPage.results">
                <td class="text-center">{{ remito.remito }}</td>
                <td class="text-center">{{ remito.fechaArmado }}</td>
                <td class="text-center">{{ remito.domicilioEntrega.cliente.cliente }} - {{ remito.domicilioEntrega.cliente.razonSocial }}</td>
                <td class="text-center">{{ remito.domicilioEntrega.calle }} {{ remito.domicilioEntrega.altura }} - {{ remito.domicilioEntrega.localidad.nombre }}</td>
                <td class="text-center">{{ remito.entregado == true ? "Si" : "No" }}</td>
                <td class="text-center">
                    <a *ngIf="!remito.entregado" (click)="entregar(remito)"><i class="fa fa-check text-success" placement="top" ngbTooltip="Entregar"></i></a>
                </td>
                <td class="text-center">
                    <a routerLink="/remitos/{{remito.remito}}"><i class="fa fa-eye text-center text-primary" placement="top" ngbTooltip="Ver remito"></i></a>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="byCliente">
            <tr *ngFor="let remito of remitosById">
                <td class="text-center">{{ remito.remito }}</td>
                <td class="text-center">{{ remito.fechaArmado }}</td>
                <td class="text-center">{{ remito.domicilioEntrega.cliente.cliente }} - {{ remito.domicilioEntrega.cliente.razonSocial }}</td>
                <td class="text-center">{{ remito.domicilioEntrega.calle }} {{ remito.domicilioEntrega.altura }} - {{ remito.domicilioEntrega.localidad.nombre }}</td>
                <td class="text-center">{{ remito.entregado == true ? "Si" : "No" }}</td>
                <td class="text-center">
                    <a *ngIf="!remito.entregado" (click)="entregar(remito)"><i class="fa fa-check text-success" placement="top" ngbTooltip="Entregar"></i></a>
                </td>
                <td class="text-center">
                    <a routerLink="/remitos/{{remito.remito}}"><i class="fa fa-eye text-center text-primary" placement="top" ngbTooltip="Ver remito"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav *ngIf="!byCliente" aria-label="Page navigation example" [hidden]="resultsPage.count <= 1">
        <ul class="pagination pagination-centered justify-content-center">
            <li class="page-item">
                <a class="page-link" (click)="showPage(-2)">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
            </li>
            <li *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
                <a class="page-link" (click)="showPage(t + 1)"> {{t+1}} </a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-4)">&raquo;</a>
            </li>
        </ul>
    </nav>
    <div class="text-center">
        <button *ngIf="byCliente" (click)="goBack()" class="btn btn-outline-primary">Atrás</button>
    </div>


</div>