<div *ngIf="articulo">
    <h2>{{ articulo && articulo.id ? 'Articulo Nº ' + articulo.id : 'Nuevo articulo' }} </h2>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMessage">
        <i class="fas fa-check-circle pe-2"></i>
        {{ alertMessage }}
        <button type="button" (click)="closeAlert()" 
            class="btn-close">
        </button>
    </div>

    <form #form="ngForm">
        <br />
        <label class="text-muted" for="nombre">Nombre</label>
        <p class="fs-4" *ngIf="view">{{articulo.nombre}}</p>
        <input name="nombre" 
                [(ngModel)]="articulo.nombre" 
                class="form-control"
                *ngIf="!view">

        <br *ngIf="!view"/>

        <label class="text-muted" *ngIf="!view || articulo.descripcion == ''" for="descripcion">Descripcion</label>
        <p class="fs-4" *ngIf="view">{{articulo.descripcion}}</p>
        <input name="descripcion" 
                [(ngModel)]="articulo.descripcion" 
                class="form-control"
                *ngIf="!view">

        <br *ngIf="!view"/>

        <label class="text-muted" for="precioUnitario">Precio unitario</label>
        <p class="fs-4" *ngIf="view">{{articulo.precioUnitario}}</p>
        <input name="precioUnitario" 
                [(ngModel)]="articulo.precioUnitario" 
                class="form-control"
                *ngIf="!view">

        <br *ngIf="!view"/>

        <label class="text-muted" for="stock">Stock</label>
        <p class="fs-4" *ngIf="view">{{articulo.stock}}</p>
        <input name="stock" 
                [(ngModel)]="articulo.stock" 
                class="form-control"
                *ngIf="!view">

        <br />
        <button (click)="goBack()" class="btn btn-outline-primary">Atrás</button>
        &nbsp;
        <button (click)="save()" *ngIf="!view" [disabled]="!form.valid" class="btn btn-primary">
        Guardar
        </button>
    </form>
    <br />
</div>