<div *ngIf="remito">
    <h2 class="pb-2 text-center"><u>{{"Remito N°" + remito.remito}}</u></h2>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMessage">
        <i class="fas fa-check-circle pe-2"></i>
        {{ alertMessage }}
        <button type="button" (click)="closeAlert()" 
            class="btn-close">
        </button>
    </div>


    <div class="d-flex flex-row border border-secondary text-center justify-content-around" name="headerFactura">
        <div class="p-2 border border-rigth">
            <label class="text-muted text-uppercase">Numero de remito</label>
            <p class="text-center">{{ remito.remito }}</p>
        </div>

        <div class="p-2 border border-rigth">
            <label class="text-muted text-uppercase">Fecha de armado</label>
            <p class="text-center">{{ fechaArmadoString }}</p>
        </div>

        <div class="p-2">
            <label class="text-muted text-uppercase">Entregado</label>
            <h3 class="text-center text-uppercase">{{ remito.entregado ? "Si" : "No" }}</h3>
            <a type="button" *ngIf="!remito.entregado" (click)="entregar(remito)">
                <i class="fa fa-check text-success" placement="top" ngbTooltip="Entregar">
                </i>
            </a>
        </div>

    </div>

    <div class="d-flex flex-row pt-2">
        <h3 class="p-2">
            <u>
                Cliente
            </u>
        </h3>
        <a class="pl-2 pt-3" routerLink="/clientes/view/{{remito.domicilioEntrega.cliente.cliente}}">
            <i class="fas fa-user text-center text-primary" placement="top" ngbTooltip="Ir al cliente"></i>
        </a>  
    </div>
    
    <div class="d-flex flex-row justify-content-around border border-secondary text-center" name="clienteData">
        <div class="p-2">
            <label class="text-muted text-uppercase">Cliente N°</label>
            <p>{{ remito.domicilioEntrega.cliente.cliente }}</p>
        </div>

        <div class="p-2">
            <label class="text-muted text-uppercase">Cuit</label>
            <p>{{ remito.domicilioEntrega.cliente.cuit }}</p>
        </div>

        <div class="p-2">
            <label class="text-muted text-uppercase">Razon social</label>
            <p>{{ remito.domicilioEntrega.cliente.razonSocial }}</p>
        </div>

    </div>

    <div class="d-flex flex-row pt-2">
        <h3 class="p-2">
            <u>
                Domicilio de entrega
            </u>
        </h3>
    </div>
    
    <div class="d-flex flex-row justify-content-around border border-secondary text-center" name="domicilioEntregaData">
        <div class="p-2">
            <label class="text-muted text-uppercase">Calle</label>
            <p>{{ remito.domicilioEntrega.calle }}</p>
        </div>

        <div class="p-2">
            <label class="text-muted text-uppercase">Altura</label>
            <p>{{ remito.domicilioEntrega.altura }}</p>
        </div>

        <div class="p-2">
            <label class="text-muted text-uppercase">Localidad</label>
            <p>{{remito.domicilioEntrega.localidad.cp+" - "+remito.domicilioEntrega.localidad.nombre }}</p>
        </div>

    </div>

    <br />
    <div class="table">
        <h3><u>Articulos</u></h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Articulo</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center">Pedido</th>
                    <th class="text-center">Factura</th>
                </tr>
            </thead>
            <tr *ngFor="let articuloPedido of articulosPedido; index as i">
                <td class="text-center">{{ articuloPedido.articulo.nombre }}</td>
                <td class="text-center">{{ articuloPedido.cantidad }}</td>
                <td class="text-center">${{ articuloPedido.precio }}</td>
                <td class="text-center">${{ articuloPedido.cantidad * articuloPedido.precio }}</td>
                <td class="text-center">{{ articuloPedido.pedido.pedido }}
                    <a routerLink="/pedidos/view/{{articuloPedido.pedido.pedido}}">
                        <i class="fa fa-eye" placement="top" ngbTooltip="Ver pedido"></i>
                    </a>
                </td>
                <td *ngIf="articuloPedido.factura" class="text-center">{{ articuloPedido.factura.factura }}
                    <a routerLink="/facturas/{{articuloPedido.factura.factura}}">
                        <i class="fas fa-receipt" placement="top" ngbTooltip="Ver factura"></i>
                    </a>
                </td>
                <td *ngIf="!articuloPedido.factura" class="text-center">-</td>
            </tr>
        </table>
    </div>

    <br />
    <div class="text-center pb-4">
        <button (click)="goBack()" class="btn btn-outline-primary">Atrás</button>
    </div>
</div>