<div *ngIf="cliente">
        <h2>{{ cliente && cliente.cliente ? 'Cliente Nº ' + cliente.cliente : 'Nuevo cliente' }} </h2>

        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMessage">
            <i class="fas fa-check-circle pe-2"></i>
            {{ alertMessage }}
            <button type="button" (click)="closeAlert()" 
                class="btn-close">
            </button>
        </div>
        
        <div *ngIf="view" class="d-flex flex-row text-center">
            <div class="p-3">
                <a routerLink="/pedidos/byCliente/{{cliente.cliente}}" 
                    class="btn btn-outline-primary float-right">
                    <i class="fa fa-eye"></i>
                    Ver pedidos
                </a>
            </div>

            <div class="p-3">
                <a routerLink="/remitos/byCliente/{{cliente.cliente}}" 
                    class="btn btn-outline-primary float-right">
                    <i class="fa fa-eye"></i>
                    Ver remitos
                </a>
            </div>

            <div class="p-3">
                <a routerLink="/facturas/byCliente/{{cliente.cliente}}" 
                    class="btn btn-outline-primary float-right">
                    <i class="fas fa-receipt"></i>
                    Ver facturas
                </a>
            </div>

            <div class="p-3">
                <a routerLink="/articulosPedido/{{cliente.cliente}}" 
                    class="btn btn-outline-primary float-right">
                    <i class="fas fa-history"></i>
                    Historial de articulos
                </a>
            </div>
        </div>

        <form #form="ngForm">
            <br />

            <label for="cliente">Cliente N° </label>
            <input name="cliente" 
                    [(ngModel)]="cliente.cliente" 
                    class="form-control"
                    [disabled]="view || edit">

            <br />

            <label for="razonSocial">Razon social</label>
            <input name="razonSocial" 
                    [(ngModel)]="cliente.razonSocial" 
                    class="form-control"
                    [disabled]="view">

            <br />

            <label for="tipoDoc">Tipo de documento </label>
            <select name="tipoDoc" class="form-select" 
                    [(ngModel)]="cliente.tipoDoc"
                    disabled="true">
                <option value="DNI" selected>DNI</option>
            </select>

            <br />

            <label for="nroDoc">Numero de documento</label>
            <input name="nroDoc" 
                    [(ngModel)]="cliente.nroDoc" 
                    class="form-control"
                    [disabled]="view || edit">

            <br />

            <label for="cuit">CUIT </label>
            <input name="cuit" 
                    [(ngModel)]="cliente.cuit" 
                    class="form-control"
                    [disabled]="view || edit">

            <br />
            
            <div class="table-responsive">
                <h3 for="domiciliosEntrega">Domicilios de entrega</h3>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Calle</th>
                        <th>Altura</th>
                        <th>Piso/Departamento</th>
                        <th>Localidad</th>
                        <th>
                            <button (click)="addDomicilioEntrega()" 
                                *ngIf="!view" 
                                class="btn btn-primary">
                                    Agregar
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let domicilio of cliente.domiciliosEntrega; index as i">
                        <td>{{ i + 1}}</td>
                        <td>
                            <input name="domicilioCalle{{i}}" 
                                [(ngModel)]="domicilio.calle"
                                [disabled]="view"
                                placeholder="Calle"
                                class="form-control">
                        </td>
                        <td>
                            <input name="domicilioAltura{{i}}" 
                                    [(ngModel)]="domicilio.altura"
                                    [disabled]="view"
                                    placeholder="Altura"
                                    class="form-control">
                        </td>
                        <td>
                            <input name="domicilioPisoDpto{{i}}" 
                                    [(ngModel)]="domicilio.pisoDpto"
                                    class="form-control"
                                    [disabled]="view"
                                    placeholder="Piso/Departamento">
                        </td>
                        <td>
                            <input
                                [(ngModel)]="domicilio.localidad"
                                name="domicilioLocalidad{{i}}"
                                placeholder="Localidad"
                                class="form-control"
                                [disabled]="view"
                                required
                                [ngbTypeahead]="searchLocalidad"
                                [editable]="false"
                                [resultFormatter]="resultFormatLocalidad"
                                [inputFormatter]="inputFormatLocalidad"
                            />
                        </td>
                        <td>
                            <button (click)="removeDomicilioEntrega(domicilio)" 
                                *ngIf="!view" 
                                class="btn btn-default">
                                    <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button (click)="goBack()" class="btn btn-outline-primary">Atrás</button>
            &nbsp;
            <button (click)="save()" *ngIf="!view" [disabled]="!form.valid" class="btn btn-primary">
            Guardar
            </button>
        </form>
        <br />
    </div>