<div class="d-flex justify-content-between flex-md-row p-3 px-md-4 mb-3 
		text-white border-bottom 
		border border-primary shadow-sm rounded-bottom main-frame">
	<a type="button" class="btn my-0 mr-md-auto text-white font-weight-bold" routerLink="/">
		<i class="fas fa-truck pe-1"></i>
		<strong>Delivery</strong>
	</a>
	<nav class="my-2 my-md-0 mr-md-4">
		<button type="button" class="btn text-white" routerLink="/articulos">Articulos</button>
		<button type="button" class="btn text-white" routerLink="/clientes">Clientes</button>
		<button type="button" class="btn text-white" routerLink="/pedidos">Pedidos</button>
		<button type="button" class="btn text-white" routerLink="/remitos">Remitos</button>
		<button type="button" class="btn text-white" routerLink="/facturas">Facturas</button>
	</nav>
</div>
<div class="container">
	<router-outlet></router-outlet>
</div>